//Variables

$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

$mainfont: Arial, Sans-serif;

body {
	background: $yellow;
        font-family: $mainfont;
        color: $green; 
	}

.box {
	h1 {
		color: $fuchsia;
		}
	}

a {
        color: $purple;
        }
        
.content {
        width: 90%;
        max-width: 800px;
        margin: 2em auto;
}
        
 header {
        margin-bottom: 1.5em;
            nav {
                a {
                    display: inline-block;
                    padding: 1em;
                    text-decoration: none;
                    margin-right: 1em;
                    border-radius: 5px;
                    background: $aqua;
                    color: $white;
                }
            
                a:hover {
                    background: $olive;
                    text-decoration: none;

                }
            }
}

.main {
    article {
        padding: 1.5em;
        background: $white;
        margin-bottom: 1.5em;
        box-shadow: 5px 5px 2px #000;
            h2 {
                font-size: 20px;
                color: $orange;

            }
    }
    
}